<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/darkly/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


 </head>
 <body>

<div class="container">
<div class="row">
<div class="col-lg-12"> 
<p></p>
<h2> Movie Data Collection </h2>
<p> For this project, we will be collecting anonymous data on location and activities
that can be tracked through your phone. For example, the moves app will record steps,
where you are walking, as well as things like transit / driving. We will assign each
person's data a unique randomized ID and release a dataset of all data to the class.
</p>
<p>
  First, you need to download the app (it is available on iOS and Android). After downloading 
  the app and setting it up for the first time, come back to this site to grant us authorization
</p>

<div id="downloads">
<a href="http://appstore.com/moves">
<img src="http://www.healtheo360.com/userfiles/files/download-on-the-app-store.png" width="180" height="53">
</a>

<a href="https://play.google.com/store/apps/details?id=com.protogeo.moves">
<img src="https://play.google.com/intl/en_us/badges/images/books/en-play-badge-border.png" width="190" height="57">
</a>
</div>

<p></p>
<p>
Once you have the downloaded the app, please click on the following link to grant us authorization to collect your data. You don't create an account with
Moves, so we won't know who you are and the only thing we will store will be the access token (not date of permission, etc). After clicking on the button,
you will be prompted to open the app and then it will ask for your permissions. After you accept, you will be redirected to a webpage on this site that should have
an indication of success - if this is not the case, please contact Professor Field and we will get it resolved quickly.
</p>

<a href={{url}} class="btn btn-success">Authenticate</a>
</div>
</div>
</div>

<div>
<blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=qq09UkPRdFY">Mariah Carey - Fantasy</a></h4><p>Mariah Carey's official music video for 'Fantasy'. Click to listen to Mariah Carey on Spotify: http://smarturl.it/MariahCareySpotify?IQid=MCareyFa As featured on Greatest Hits.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>
 </body>
</html>