<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>FallSafe</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation" float="right"><a href="login">Sign In</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>FallSafe</h1>
        </div>
 
    </div>
</body>
 
</html>